.dashboard_main_holder {
    width: 100%;
    height: 100%;
    align-items: center;
    background-color: rgba(249, 216, 216);
}

.dashboard_greeting_holder {
    width: 90%;
    height: 10%;
}

.dashboard_greeting {
    width: 90%;
    height: 100%;
    align-items: center;
}

.dashboard_info_holder {
    width: 100%;
    height: 90%;
    border-radius: 3rem 3rem 0 0;
    background-color: #ffffff;
}

.dashboard_info_overview_holder {
    width: 100%;
    height: 25%;
    align-items: center;
}

.dashboard_info_overview_heading_holder {
    width: 90%;
    height: 20%;
    justify-content: center;
}

.dashboard_info_tile_holder {
    width: 100%;
    height: 80%;
    justify-content: space-around;
}

.dashboard_info_tile {
    width: 30%;
    height: 90%;
    border-radius: 1rem;
    align-items: center;
    border: 0.1rem solid rgb(249, 216, 216);
    box-shadow: 0 0 10px rgba(249, 216, 216, 1);
}

.dashboard_info_tile_heading {
    width: 100%;
    height: 20%;
    align-items: center;
    justify-content: center;
}

.dashboard_info_tile_icon {
    width: 100%;
    height: 40%;
    align-items: center;
    justify-content: center;
}

.dashboard_info_tile_info {
    width: 100%;
    height: 30%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.my_reservations_holder {
    width: 100%;
    height: 30%;
    align-items: center;
}

.my_reservations_tiles_holder { 
    width: 100%;
    height: 80%;
    justify-content: space-around;
    align-items: center;
}

.my_reservations_tile_holder {
    width: 90%;
    height: 45%;
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(249, 216, 216, 1);
}

.my_reservation_tile {
    width: 80%;
    height: 100%;
}

.my_reservation_view_holder {
    width: 10%;
    height: 100%;
    justify-content: center;
    align-items: flex-end;
}

.no_reservations {
    width: 100%;
    height: 100%;
    text-align: center;
}