.modal_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(167, 181, 158, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal_content {
    width: 20%;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    white-space: pre-line;
}

.modal_button {
    width: 5rem;
    border: none;
    background-color: #f9d8d8;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    width: 7rem;
    height: 2rem;
    margin-top: 1rem;
}

.modal_message {
    margin-top: 1rem;
}

@media (max-width: 768px) {

    .modal_content {
        width: 80%;
    }

    .modal_button {
        width: 7rem;
        height: 2rem;
    }
}