.login_page_holder {
    width: 100%;
    height: 100%;
}

.login_page_bg_holder {
    width: 50%;
    height: 100%;
    background-color: green;
    background: linear-gradient(rgba(167, 181, 158, 0.9),
            rgba(167, 181, 158, 0.9)), url('../assets/login/loginBackground.jpeg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.login_form_holder {
    width: 50%;
    height: 100%;
}

.login_form {
    width: 100%;
    height: 100%;
}

.login_form_header {
    width: 100%;
    height: 10%;
}

.login_form_details {
    width: 80%;
    height: 20%;
}

.input_holder {
    width: 50%;
}

.show_password_holder {
    width: 85%;
}

.login_button_holder {
    width: 100%;
}

.login_button {
    width: 20%;
    height: 100%;
}

@media (max-width: 768px) {

    .login_page_bg_holder {
        background-size: cover;
        background-position: 35% center;
    }

    .login_form_details {
        width: 100%;
        height: 20%;
    }

    .input_holder {
        width: 85%;
    }

    .login_button {
        width: 85%;
        height: 100%;
    }
}