.login_page_holder {
    width: 100%;
    height: 100%;
}

.login_page_bg_holder {
    width: 50%;
    height: 100%;
    background-color: green;
    background: linear-gradient(rgba(167, 181, 158, 0.9),
            rgba(167, 181, 158, 0.9)), url('../assets/login/loginBackground.jpeg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.login_form_holder {
    width: 50%;
    height: 100%;
    justify-content: space-around;
}

.login_brandname_holder {
    width: 100%;
    height: 20%;
}

.logo_holder {
    width: 15%;
    height: 100%;
    background-image: url('../assets/brLogo.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.login_register_option_holder {
    width: 30%;
    height: 5%;
    justify-content: space-around;
}

.login_option {
    width: 45%;
    height: 100%;
    border-radius: 0.5rem;
    cursor: pointer;
    border: 0.1rem solid #a7b59e;
    color: #a7b59e;
}

.login_option_selected {
    width: 45%;
    height: 100%;
    border-radius: 0.5rem;
    background-color: #f9d8d8;
    border: 0.1rem solid #a7b59e;
    cursor: pointer;
    box-shadow: 0px 0px 10px #888888;
    color: #ffffff;
}

.form_holder {
    width: 100%;
    height: 50%;
}

.login_input_holder {
    width: 20rem;
    height: 2.5rem;
}

.show_password_holder {
    width: 20rem;
    height: 3rem;
    justify-content: flex-start;
}

.form_button_holder {
    width: 100%;
    height: 5rem;
}

.form_button {
    width: 7rem;
    height: 2rem;
}

.forgot_password_holder {
    width: 100%;
    height: 2.5rem;
}

@media (max-width: 768px) {
    .login_page_bg_holder {
        background-size: cover;
        background-position: 35% center;
    }

    .logo_holder {
        width: 60%;
        height: 100%;
        background-image: url('../assets/brLogo.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    .login_register_option_holder {
        width: 100%;
        justify-content: space-around;
    }

    .login_option,
    .login_option_selected {
        width: 45%;
    }

    .login_input_holder {
        width: 90%;
        height: 2.5rem;
    }

    .show_password_holder {
        width: 90%;
        height: 2.5rem;
        margin-top: 0.5rem;
    }

    .form_button_holder {
        width: 100%;
        height: 5rem;
    }

    .form_button {
        width: 7rem;
        height: 2rem;
    }
}