.reset_password_holder {
    width: 100%;
    height: 100%;
}

.reset_password_graphic_holder {
    width: 100%;
    height: 20%;
    background-image: url('../assets/reset_password/resetPassword.png');
    background-size: 10% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.reset_password_form_holder {
    width: 100%;
    height: 10%;
}

.reset_password_explain {
    width: 70%;
    height: 40%;
    text-align: center;
}

.reset_input_holder {
    width: 20rem;
    height: 2.5rem;
}

.form_button_holder {
    width: 100%;
    height: 5rem;
}

.form_button {
    width: 10rem;
    height: 2rem;
}

@media (max-width: 768px) {
    .reset_password_graphic_holder {
        background-size: 35% 100%;
    }
}