#root {
  width: 100%;
  height: 100%;
}

.app_holder {
  width: 100%;
  height: 100%;
}

/* FONTS */
.font_1 {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.font_size_s {
  font-size: 1rem;
}

.font_size {
  font-size: 2rem;
}

.font_size_l {
  font-size: 5rem;
}
/* FONTS */

/* COLORS */
.color_green {
  color: #a7b59e;
}

.color_white {
  color: #ffffff;
}

.color_pink {
  color: #f9d8d8;
}
/* COLORS */

/* DISPLAYS */
.flex_column {
  display: flex;
  flex-flow: column nowrap;
}

.flex_row {
  display: flex;
  flex-flow: row nowrap;
}

.flex_all_center {
  justify-content: center;
  align-items: center;
}
/* DISPLAYS */

.input {
  width: 100%;
  height: 100%;
  border: solid 0.1rem #a7b59e;
  border-radius: 0.5rem;
}

.button {
  width: 100%;
  height: 100%;
  padding: 0.2rem;
  border-radius: 0.5rem;
  background-color: #f9d8d8;
  cursor: pointer;
}

input[type="checkbox"] {
  accent-color: #a7b59e;
  color: #ffffff;
  cursor: pointer;
}